@font-face {
  font-family: 'BagossCondensed-Light';
  src: url('../public/fonts/Bagoss-Font/OTF/BagossCondensed-Light.otf') format('opentype');
  src: url('../public/fonts/Bagoss-Font/TTF/BagossCondensed-Light.ttf') format('truetype');
  src: url('../public/fonts/Bagoss-Font/WEB/BagossCondensed-Light.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BagossCondensed-Medium';
  src: url('../public/fonts/Bagoss-Font/OTF/BagossCondensed-Medium.otf') format('opentype');
  src: url('../public/fonts/Bagoss-Font/TTF/BagossCondensed-Medium.ttf') format('truetype');
  src: url('../public/fonts/Bagoss-Font/WEB/BagossCondensed-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}